*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{    
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    min-height: 100vh;
    background: #25a0b3c5;

}

.inicio{
    text-align: center;
    display: flex;
    justify-content:right;
    align-items: center;
    background-color: white;
    color: rgb(110, 110, 110);
    
}
.input-box{
    width: 544px;
    display:center;
}
.txtimg{
    position: relative;
    width: 80;
    margin: 0 auto;
    padding-top: 60px;
    right:85px;
}
p{
    position: relative;
    margin-top: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #fff;     
    font-size: 45px;
}
a{
    text-decoration: none;
    color: #0BBBEF;
}
.logoimg{
    position: relative;
    align-items: center;
    margin-top:20px;
    padding: 0;
    width: 240px;
    left: 60px;;
    
}

img {
    align-items: center;
    margin-right: 130px;
    width: 550px;
    margin-top: 2px;

}

.input-box input {
    align-items: center;
    height: 50px;
    width: 300px; /* Define a largura desejada */
    padding: 10px 45px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
    outline: none;


  }
  .input-box::placeholder{
    text-align: center;
    color: #939ba2;
  }
  i{

    position: absolute;
    right:160px;
    margin-top: 12px;;
    transform: translateY(-50);
    font-size: 20px;
  }

  .h5 {
    position:relative;
    right: 110px;
    font-weight: 40px;
  }
  .senha{
    position:relative;
    right: 120px;
    font-weight: 40px;
  }
  .matricula{
    position: relative;
    left: 45px;
  }
  .esqueciSenha{
    position:relative;
    left: 15px;
  }
  .se{
    position: relative;
    left: 115px;
  }
  /*.btnEmail{
    color: #fff;
    background-color: #0072C6;
    border-color: #0374ca;
    min-height: 50px;
    max-height: 72px;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    height: 5rem;
    border-radius: .25rem;
    border: none;


  }*/
  

.btnEntrar{
    color: #fff;
    background-color: #53B36C;
    border-color: #53B36C;
    line-height: 1.5rem;
    padding: .375rem .75rem;
    width: 55%;
    min-height: 50px;
    max-height: 72px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    border: none;
}
.btnEntrar:hover{
  background-color: #408d55;
}

.duvidas{
    margin-top: 20px;
    position: relative;
    text-align: left;
    margin-left: 30px;
}
.span{
    flex: auto;
    flex-basis: 50%;
    background-color: #062F2D;
    color: white;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    box-sizing: border-box;
    unicode-bidi: isolate;
    margin-left: 272px;
    margin-top: -3rem;
}
.int{
    margin-left: 40px;
    margin-right: 10px;
    width: 20px;
}
.btnLink {
    text-decoration: none; /* Remova o sublinhado padrão dos links */
    
  }
  
  .btnEmail {
    display: flex; /* Use flexbox para alinhar a imagem e o texto */
    align-items: center; /* Alinhe os itens verticalmente */
    justify-content: center; /* Alinhe os itens horizontalmente */
    padding: 10px 20px; /* Adicione preenchimento para espaçamento interno */
    background-color: #0374ca; /* Cor de fundo do botão */
    border-color: #0374ca;
    text-align: center;
    color: white; /* Cor do texto */
    border: none; /* Remova a borda do botão */
    border-radius: 5px; /* Adicione bordas arredondadas */
    cursor: pointer; /* Altere o cursor para indicar que é clicável */
    margin-left: 115px;
    width: 58%;
    
  }
  
  .outlook {
    width: 30px; /* Defina a largura da imagem */
    height: auto; /* Mantenha a altura proporcional à largura */
    margin-left:0px;/* Adicione margem à direita para espaçamento entre a imagem e o texto */
    margin-right: 10px;
}
